In [27]:
import pandas as pd
import numpy as np
import tabula
from datetime import datetime

In [5]:
tabula.convert_into('../data/tornado01.pdf', '2001.csv', output_format='csv', pages='all')

In [6]:
tabula.convert_into('../data/tornado02.pdf', '2002.csv', output_format='csv', pages='all')

In [7]:
tabula.convert_into('../data/tornado03.pdf', '2003.csv', output_format='csv', pages='all')

In [8]:
tabula.convert_into('../data/tornado04.pdf', '2004.csv', output_format='csv', pages='all')

In [9]:
tabula.convert_into('../data/tornado05.pdf', '2005.csv', output_format='csv', pages='all')

In [3]:
tabula.convert_into('../data/tornado06.pdf', '2006.csv', output_format='csv', pages='all')

In [4]:
tabula.convert_into('../data/tornado07.pdf', '2007.csv', output_format='csv', pages='all')

In [5]:
tabula.convert_into('../data/tornado08.pdf', '2008.csv', output_format='csv', pages='all')

In [6]:
tabula.convert_into('../data/tornado09.pdf', '2009.csv', output_format='csv', pages='all')

In [7]:
tabula.convert_into('../data/tornado10.pdf', '2010.csv', output_format='csv', pages='all')

In [8]:
tabula.convert_into('../data/tornado11.pdf', '2011.csv', output_format='csv', pages='all')

In [9]:
tabula.convert_into('../data/tornado12.pdf', '2012.csv', output_format='csv', pages='all')

In [10]:
tabula.convert_into('../data/tornado13.pdf', '2013.csv', output_format='csv', pages='all')

In [11]:
tabula.convert_into('../data/tornado14.pdf', '2014.csv', output_format='csv', pages='all')

In [12]:
tabula.convert_into('../data/tornado15.pdf', '2015.csv', output_format='csv', pages='all')

In [13]:
tabula.convert_into('../data/tornado16.pdf', '2016.csv', output_format='csv', pages='all')

In [14]:
tabula.convert_into('../data/tornado17.pdf', '2017.csv', output_format='csv', pages='all')

In [15]:
tabula.convert_into('../data/tornado18.pdf', '2018.csv', output_format='csv', pages='all')

In [16]:
tabula.convert_into('../data/tornado19.pdf', '2019.csv', output_format='csv', pages='all')

In [2]:
tornado = pd.read_csv('../data/2000-2018_torn2.csv')

In [3]:
tornado.head()

,om,yr,mo,dy,date,time,tz,State,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,14.0,2000.0,1.0,3.0,1/3/2000,6:22:00,3.0,AR,5.0,1.0,...,4.8,40.0,1.0,1.0,1.0,5.0,65.0,0.0,0.0,0.0
1,15.0,2000.0,1.0,3.0,1/3/2000,6:46:00,3.0,AR,5.0,2.0,...,1.8,40.0,1.0,1.0,1.0,65.0,0.0,0.0,0.0,0.0
2,16.0,2000.0,1.0,3.0,1/3/2000,6:50:00,3.0,AR,5.0,3.0,...,2.0,40.0,1.0,1.0,1.0,49.0,0.0,0.0,0.0,0.0
3,17.0,2000.0,1.0,3.0,1/3/2000,6:55:00,3.0,AR,5.0,4.0,...,3.1,40.0,1.0,1.0,1.0,49.0,0.0,0.0,0.0,0.0
4,8.0,2000.0,1.0,3.0,1/3/2000,12:15:00,3.0,MS,28.0,1.0,...,3.0,150.0,1.0,1.0,1.0,83.0,0.0,0.0,0.0,0.0

In [7]:
tornado_small = pd.DataFrame()

In [9]:
tornado_small = tornado[['om','State', 'time', 'mag']]

In [12]:
#filter for tornado alley states
dixie_alley = tornado_small.loc[tornado_small['State'].isin(['AR', 'AL', 'GA', 'LA', 'MS', 'TN'])]

In [13]:
dixie_alley.head()

     om State      time  mag
0  14.0    AR   6:22:00  1.0
1  15.0    AR   6:46:00  1.0
2  16.0    AR   6:50:00  1.0
3  17.0    AR   6:55:00  1.0
4   8.0    MS  12:15:00  1.0

In [19]:
#filter for magnitude > 0
dixie_alley = dixie_alley.loc[dixie_alley['mag'] > 0]

In [33]:
#check mag values
dixie_alley.mag.unique()

array([1., 3., 2., 4., 5.])

In [26]:
dixie_alley.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2977 entries, 0 to 23678
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   om      2977 non-null   float64
 1   State   2977 non-null   object
 2   time    2977 non-null   object
 3   mag     2977 non-null   float64
dtypes: float64(2), object(2)
memory usage: 116.3+ KB

In [14]:
#filter for tornado alley states
tornado_alley = tornado_small.loc[tornado_small['State'].isin(['IA', 'KS', 'MO', 'NE', 'OK', 'TX'])]

In [23]:
#filter for magnitude > 0
tornado_alley = tornado_alley.loc[tornado_alley['mag'] > 0]

In [32]:
#check mag values
tornado_alley.mag.unique()

array([1., 3., 2., 4., 5.])

In [34]:
datetime_object = datetime.now()

In [35]:
print(datetime_object)

2020-12-21 14:19:01.073594

In [41]:
#pd.to_datetime(smile_small['call_date'])
dixie_alley['time'] = pd.to_datetime(dixie_alley['time'])

In [42]:
dixie_alley.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2977 entries, 0 to 23678
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   om      2977 non-null   float64
 1   State   2977 non-null   object
 2   time    2977 non-null   datetime64[ns]
 3   mag     2977 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 116.3+ KB