In [1]:
import pandas as pd
import numpy as np
import tabula
from datetime import datetime
import seaborn as sns

In [2]:
tornado = pd.read_csv('../data/2000-2018_torn3.csv')

In [3]:
tornado_small = pd.DataFrame()

In [4]:
tornado_small = tornado[['om','State', 'time', 'mag']]

In [5]:
#filter for tornado alley states
dixie_alley = tornado_small.loc[tornado_small['State'].isin(['AR', 'AL', 'GA', 'LA', 'MS', 'TN'])]

In [6]:
#filter for magnitude > 0
dixie_alley = dixie_alley.loc[dixie_alley['mag'] > 0]

In [7]:
#check mag values
dixie_alley.mag.unique()

array([1, 3, 2, 4, 5], dtype=int64)

In [8]:
#filter for tornado alley states
tornado_alley = tornado_small.loc[tornado_small['State'].isin(['IA', 'KS', 'MO', 'NE', 'OK', 'SD', 'TX'])]

In [9]:
#filter for magnitude > 0
tornado_alley = tornado_alley.loc[tornado_alley['mag'] > 0]

In [10]:
#check mag values
tornado_alley.mag.unique()

array([1, 3, 2, 4, 5], dtype=int64)

In [11]:
#pd.to_datetime(smile_small['call_date'])
dixie_alley['time'] = pd.to_datetime(dixie_alley['time'])

In [12]:
dixie_alley.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2977 entries, 0 to 23678
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   om      2977 non-null   int64
 1   State   2977 non-null   object
 2   time    2977 non-null   datetime64[ns]
 3   mag     2977 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 116.3+ KB

In [13]:
def convert_time(df, column):
    """Converts time column in dataframe from object to timedelta64[ns] to keep HH:MM:SS format 
    Input is DataFrame name, column name in str format"""
    df[column] = (pd.to_datetime(df[column], format = '%H:%M:%S') - 
                     pd.to_datetime(df[column], format = '%H:%M:%S').dt.normalize())
#.dt.normalize sets the time portion of the datetime to midnight. Subtracting the normalized datetime leaves only
# hours, minutes, and seconds.

In [14]:
convert_time(dixie_alley, 'time')

In [15]:
dixie_alley.describe()

                 om                    time          mag
count   2977.000000                    2977  2977.000000
mean   12933.237151  0 days 13:45:25.656701     1.384279
std     6494.303428  0 days 06:34:10.583962     0.688906
min        1.000000         0 days 00:00:00     1.000000
25%     7816.000000         0 days 09:05:00     1.000000
50%    13189.000000         0 days 15:21:00     1.000000
75%    18132.000000         0 days 18:46:00     2.000000
max    23679.000000         0 days 23:58:00     5.000000

In [16]:
convert_time(tornado_alley, 'time')

In [17]:
tornado_alley.describe()

                 om                    time          mag
count   3029.000000                    3029  3029.000000
mean   12258.360515  0 days 16:34:53.463189     1.399802
std     6775.723811  0 days 05:05:44.724784     0.711957
min       58.000000         0 days 00:00:00     1.000000
25%     6591.000000         0 days 15:24:00     1.000000
50%    12287.000000         0 days 17:40:00     1.000000
75%    18420.000000         0 days 19:40:00     2.000000
max    23623.000000         0 days 23:58:00     5.000000